<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://123.57.40.207:6081/IpaWeb/ComprehensiveQualityEvaluation/ComprehensiveQualityEvaluation.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://123.57.40.207:6081/IpaWeb/ComprehensiveQualityEvaluation/icon_57_evaluation.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://123.57.40.207:6081/IpaWeb/ComprehensiveQualityEvaluation/icon_512_evaluation.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bjmf.ComprehensiveQualityEvaluation</string>
				<key>bundle-version</key>
				<string>1.4</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>黑芝麻胡同小学</string>
				<key>title</key>
				<string>小芝麻成长记</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
